{% extends "wiki/base_site.html" %}
{% load static %}

{% block wiki_site_title %} - BUB Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="/"><img src="{% static 'img/bub.svg' %}" style="height: 1.7em;"> Bits&amp;Bäume Wiki</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav mr-auto">
  <li class="nav-item"><a class="nav-link" href="https://bits-und-baeume.org">Bits&amp;Bäume Hauptseite</a></li>
  <!--<li class="nav-item"><a class="nav-link" href="{% url 'wiki:root' %}">Wiki</a></li>-->
</ul>
{% endblock %}
